* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    background-image: url('./images/pattern-curve.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main {
    height: 95%;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.slider-show {
    padding: 0 75px;
    height: 100%;
    display: flex;
    align-items: center;
}

.testimonials {
    display: flex;
    align-items: center;
}

.depoiment {
    position: relative;
    left: 90px;
}

.text-depoiment {
    font-size: 32px;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
    line-height: 1.4;
    z-index: 9;
    padding-top: 75px;
    position: relative;
    margin-right: -35px;
}

.text-depoiment::before {
    content: '';
    display: block;
    width: 120px;
    height: 100px;
    background-image: url('./images/pattern-quotes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 95px;
    top: 10px;
}

.identification {
    font-size: 20px;
    margin-top: 35px;
}

.identification .name {
    font-weight: 700;
    color: hsl(240, 38%, 20%);
}

.identification .job {
    font-weight: 500;
    color: hsl(240, 18%, 77%);
}

.image {
    background-image: url('./images/pattern-bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 90px 92px 18px 65px;
}

.photo{
    border-radius: 8px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
}

.navegation {
    max-width: 110px;
    width: 100%;
    padding: 19px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    left: 60px;
    bottom: 26px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.17);
}

.navegation a {
    line-height: 0;
}

footer {
    text-align: center;
    height: 5%;
}

.attribution {
    color:  hsl(240, 38%, 20%);
    font-size: 12px;
}

/* SMALL DESKTOP VERSION */

@media only screen and (max-width: 1170px) and (min-width: 1024px) {
    
    body {
        overflow: visible;
        height: 100vh;
    }

    .slider-show {
        padding: 0;
    }

    .testimonials {
        flex-direction: column-reverse;
    }

    .depoiment {
        position: static;
        text-align: center;
        padding: 0 70px 70px 70px;
    }

    .text-depoiment {
        position: relative;
        margin: 0;
    }

    .image {
        padding: 100px 75px 30px 75px;
    }

    .navegation {
        left: 0;
        text-align: center;
        margin: 0 auto;
    }

    .text-depoiment::before {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .footer {
        margin-bottom: 10px;
    }
}