* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    background-image: url('./images/pattern-curve.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main {
    height: 95%;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.slider-show {
    padding: 0 75px;
    height: 100%;
    display: flex;
    align-items: center;
}

.testimonials {
    display: flex;
    align-items: center;
}

.depoiment {
    position: relative;
    left: 90px;
}

.text-depoiment {
    font-size: 32px;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
    line-height: 1.4;
    z-index: 9;
    padding-top: 75px;
    position: relative;
    margin-right: -35px;
}

.text-depoiment::before {
    content: '';
    display: block;
    width: 120px;
    height: 100px;
    background-image: url('./images/pattern-quotes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 95px;
    top: 10px;
}

.identification {
    font-size: 20px;
    margin-top: 35px;
}

.identification .name {
    font-weight: 700;
    color: hsl(240, 38%, 20%);
}

.identification .job {
    font-weight: 500;
    color: hsl(240, 18%, 77%);
}

.image {
    background-image: url('./images/pattern-bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 90px 92px 18px 65px;
}

.photo{
    border-radius: 8px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
}

.navegation {
    max-width: 110px;
    width: 100%;
    padding: 19px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    left: 60px;
    bottom: 26px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.17);
}

.navegation a {
    line-height: 0;
}

footer {
    text-align: center;
    height: 5%;
}

.attribution {
    color:  hsl(240, 38%, 20%);
    font-size: 12px;
}

/* SMALL DESKTOP VERSION */

@media only screen and (max-width: 1170px) and (min-width: 768px) {
    
    html {
        height: 100%;
    }

    body {
        overflow: visible;
        height: auto;
    }

    main {
        height: auto;
    }

    .container {
        height: auto;
    }

    .slider-show {
        padding: 30px;
        height: auto;
    }

    .testimonials {
        flex-direction: column-reverse;
    }

    .depoiment {
        position: static;
        text-align: center;
        padding: 0 100px 100px 100px;
    }

    .text-depoiment {
        position: relative;
        margin: 0;
    }

    .image {
        padding: 100px 75px 30px 75px;
    }

    .navegation {
        left: 0;
        text-align: center;
        margin: 0 auto;
    }

    .text-depoiment::before {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    footer {
        padding: 20px;
    }
}

/* TABLET LANDSCAPE */

@media (min-width: 1024px) and (orientation: landscape) {

    html {
        height: auto;
    }
}

/* TABLET VERSION */

@media (max-width: 1023px) {

    html {
        height: auto;
    }

}

/* MOBILE VERSION */
@media (max-width: 767px) {
    
    html {
        height: 100%;
    }

    body {
        overflow: visible;
        background-size: 100%;
        overflow: hidden;
    }

    main {
        height: 100%;
    }

    .container {
        height: 100%;
    }

    .slider-show {
        padding: 35px;
        height: 100%;
    }

    .testimonials {
        flex-direction: column-reverse;
    }

    .depoiment {
        position: static;
        text-align: center;
        padding: 0;
    }

    .text-depoiment {
        position: relative;
        margin: 0;
        font-size: 18px;
        padding-top: 35px;
    }

    .text-depoiment::before {
        width: 50px;
        height: 60px;
        background-size: contain;
    }

    .identification {
        font-size: 14px;
        margin-top: 25px;
    }

    .identification .job, 
    .identification .name {
        display: block;
    }

    .image {
        padding: 30px 35px 0px 35px;
    }

    .photo {
        width: 100%;
    }

    .navegation {
        left: 0;
        bottom: 20px;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        max-width: 80px;
    }

    .navegation a img {
        height: 12px;
    }

    .text-depoiment::before {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    footer {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        font-size: 11px;
    }

}

/* MOBILE LANDESCAPE  */

@media (min-width:480px) and (orientation: landscape) {

    body {
        overflow: visible;
    }

    footer {
        position: relative;
    }

    html {
        height: auto;
    }

}

/* SMALL DEVICES  */

@media (max-width: 320px) {

    html {
        height: auto;
    }

    body {
        overflow: visible;
        height: auto;
    }
    
    .slider-show {
        padding: 19px;
    }

    .identification {
        margin-top: 15px;
    }

    footer {
        position: relative;
        margin-top: 15px;
    }
}